@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-image: url(https://osu.ppy.sh/images/backgrounds/page-dark.png);
    background-color: grey;
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 1em 0;
}

#content {
    text-overflow: clip;
    position: relative;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    background-color: #fff;
    width: 600px;
    border-radius: 1em;
    color: #262626;
}

form {
    margin: 1em 0;
}

.question {
    margin-top: 1.5em;
}

.question--grouped {
    margin-top: 1em;
}

.question__title {
    font-size: 1.2em;
}

input {
    padding: 0.5em;
    border: 1px solid #f9c;
    border-radius: 1em;
    outline: none;
    background-color: #f9c1;
    color: inherit;
    font: inherit;
    margin-left: 0.5em;
}

input::placeholder {
    opacity: 0.5;
}

.textarea-wrapper {
    margin: 1em;
    padding: 0.5em;
    border: 1px solid #f9c;
    border-radius: 1em;
    background-color: #f9c1;
}

textarea {
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10em;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font: inherit;
}

textarea[name=q3] {
    height: 20em;
}

textarea::placeholder {
    opacity: 0.5;
}

.counter {
    text-align: right;
    opacity: 0.5;
}

.button {
    text-shadow: 0 1px 3px rgba(0,0,0,.85);
    color: #fff;
    background-image: url("https://osu.ppy.sh/images/backgrounds/button.svg");
    background-color: #f9c;
    background-size: 200px;
    background-position: center;
    padding: 20px 25px;
    border: none;
}

.button[type=submit] {
    /* Override input's margin-left */
    margin-left: 0;
    margin-top: 0.5em;
}

.button:hover, .button:active {
    background-color: #f8b;
}
